.search-container {
    max-width: 678px;
    width: 100%;
}

.form-control {
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* Stile für die Ergebnisliste und einzelne Ergebnis-Items */
.search-results {
    position: absolute;
    z-index: 1000;
    max-width: 678px;
    width: 100%;
    background: white;
    box-shadow: 0 4px 6px rgba(0,0,0,.1);
    border-radius: 0.25rem;
    overflow: hidden;
    max-height: 300px;
    overflow-y: auto;
}

.search-result-item {
    padding: 0.5rem 0.75rem;
    cursor: pointer;
    line-height: 1.5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-result-item:hover, .search-result-item:focus {
    background-color: #f8f9fa;
}

/* Verbesserung der Benutzerfreundlichkeit für scrollbare Elemente */
.search-results::-webkit-scrollbar {
    width: 5px;
}

.search-results::-webkit-scrollbar-thumb {
    background: #ced4da;
    border-radius: 10px;
}

.search-results::-webkit-scrollbar-thumb:hover {
    background: #adb5bd;
}

/* Input Group Styling */
.input-group {
    display: flex;
    flex-wrap: nowrap;
}

.input-group .form-control {
    flex: 1;
}

.input-group-append {
    display: flex;
}

.input-group-text {
    background-color: #eee;
    border: 1px solid #ced4da;
    display: flex;
    align-items: center;
    padding: 0.375rem 0.75rem;
}

/* Anpassungen, damit das Input-Feld und das Append-Element nahtlos ineinander übergehen */
.form-control:focus + .input-group-append .input-group-text, .form-control:focus {
    border-color: #80bdff;
    box-shadow: none; /* Optional: Entfernt Box-Shadow, wenn fokussiert */
}

/* Stil für die Icons im Dropdown */
.search-result-item i {
    margin-right: 5px;

}

.search-icon-in-a-box {
    background-color: #adb5bd;
    padding:4px 4px 4px 8px;
    margin: 0 2px;
    border-radius: 50%;
}